<footer class="footer">
    <div class="row">

    <div class="col-3">
        <h2>Tìm cửa hàng</h2>
    </div>
    <div class="col-3"><h2>
        Đối tác bảo hàng
    </h2></div>
    <div class="col-3"><h2>
        Mua hàng trả góp
    </h2></div>
    <div class="col-3"><h2>
        Quy chế hoạt động
    </h2></div>
    </div>
</footer>